/* Reset */
* {
    padding: 0;
    box-sizing: border-box;
}

html {
    --primary-color: #f1f1f1;
    --secondary-color: #1a1a1a;
    --accent-color: #ff0000;
    --accent-color-light: #ff4d4d;
    --glossy-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1));
}

html.light {
    --primary-color: #1a1a1a;
    --secondary-color: #f1f1f1;
    --accent-color: #ff0000;
    --accent-color-light: #ff4d4d;
    --glossy-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
}


body {
    font-family: 'Liberation Sans', sans-serif;
    color: var(--primary-color);
    position: relative;
    background-color: var(--secondary-color);
    margin: 0;


    transition: color .5s ease-in-out, background-color .5s ease-in-out;

    /* TESTING */
    /* background-color: sienna; */
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--accent-color);
}


/* Body */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */

header {
    background-color: lime;
    padding: .5em 1em;
    border-radius: 50px;
    width: 80vw;
    background: var(--glossy-gradient);
}

header nav {
    font-size: 1.25rem;
}

header nav {}

header nav ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 80px;
    height: 80px;
}

header nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}



/* Fontawesome original icons */
.fa {
    width: 2em;
    height: 2em;
}


/* Light switcher */
.light-switcher {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


#light-switch>.fa {
    fill: var(--primary-color);
}



/* Game CSS */

/* grid disposition of the .game */
/* Grid:
        |  |r1|  |r2|  |
        |r3|  | earth|  |r4|
        |  | question |  |
*/

main {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.game {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas:
        ". r1 . r2 ."
        "r3 . earth . r4"
        ". question question question .";

    background-color: var(--glossy-gradient);
    padding: 1em;
    width: 100%;
    height: 80vh;

    /* background-color: red; */
}

#r1,
#r2,
#r3,
#r4,
#earth,
#question {
    /* background-color: var(--secondary-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: solid black; */
}

#r1 {
    grid-area: r1;
}

#r2 {
    grid-area: r2;
}

#r3 {
    grid-area: r3;
}

#r4 {
    grid-area: r4;
}

#earth {
    grid-area: earth;
}

#question {
    grid-area: question;
}

#question p {
    font-size: 1rem;
    padding-top: .75em;
    padding-bottom: .75em;
}

.rep-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.rep-container p {
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

.rep-container:hover p {
    opacity: 1;
}

.rep-container>img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}