/* Reset */
* {
    padding: 0;
    box-sizing: border-box;
}

html {
    --primary-color: #f1f1f1;
    --secondary-color: #1a1a1a;
    --accent-color: #c52e00;
    --accent-color-light: #c52e00;
    --glossy-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
    --gradient: background: rgb(176,152,152);background: -moz-linear-gradient(90deg, rgba(176,152,152,1) 26%, rgba(255,255,255,1) 100%);background: -webkit-linear-gradient(90deg, rgba(176,152,152,1) 26%, rgba(255,255,255,1) 100%);background: linear-gradient(90deg, rgba(176,152,152,1) 26%, rgba(255,255,255,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b09898",endColorstr="#ffffff",GradientType=1);
}

html.dark {
    --primary-color: #1a1a1a;
    --secondary-color: #f1f1f1;
    --accent-color: #c52e00;
    --accent-color-light: #c52e00;
    --glossy-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1));
    --gradient: background: rgb(93,89,89);background: -moz-linear-gradient(90deg, rgba(93,89,89,1) 26%, rgba(0,0,0,1) 100%);background: -webkit-linear-gradient(90deg, rgba(93,89,89,1) 26%, rgba(0,0,0,1) 100%);background: linear-gradient(90deg, rgba(93,89,89,1) 26%, rgba(0,0,0,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5d5959",endColorstr="#000000",GradientType=1);
}

body {
    font-family: 'Liberation Sans', sans-serif;
    color: var(--primary-color);
    position: relative;
    backdrop-filter: blur(15px);

    transition: color .5s ease-in-out, background-color .5s ease-in-out;

    /* TESTING */
    /* background-color: sienna; */
    min-height: 100vh;
    background-image: url('/img/background.png');
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'arrière-plan */
    background-position: center; /* Centre l'image à l'arrière-plan */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */

}

main {
    position: relative;
    z-index: 1; /* Assure que le contenu est au-dessus de l'arrière-plan flou */
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; /* Utilisez la même image que l'arrière-plan du body */
    backdrop-filter: blur(10px); /* Ajustez la valeur du flou selon vos préférences */
    z-index: -1; /* Placez l'arrière-plan flou derrière le contenu principal */
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--accent-color);
}


/* Body */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */

header {
    background-color: lime;
    padding: .5em 1em;
    border-radius: 50px;
    width: 80vw;
    background: var(--glossy-gradient);
}

header nav {
    font-size: 1.25rem;
}

header nav {}

header nav ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 80px;
    height: 80px;
}

header nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}



/* Fontawesome original icons */
.fa {
    width: 2em;
    height: 2em;
}


/* Light switcher */
.light-switcher {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    cursor: pointer;
}

h1 {
    font-size: 2rem;
    margin: 1em 0;
    text-align: center;
    color: var(--accent-color);
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color : #fff;
    text-align: center;
    padding: 10px 0;
}


.highlight {
    color: #c52e00; /* ou toute autre couleur que vous préférez */
    font-weight: bold;
  }
  
  .intro-text,
  .game-description,
  .mission-statement,
  .call-to-action,
  .start-adventure {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 1.5em;
  }
  
  .game-title {
    font-weight: bold;
    color: #009900; /* ou toute autre couleur que vous préférez */
  }

  p {
    margin-left: 20%;
    margin-right: 20%;
  }

  header nav a:hover {
    color: var(--accent-color);
    text-decoration: underline;
  }

  #light-switch img {
    transition: transform 0.3s ease-in-out;
  }
  
  #light-switch:hover img {
    transform: rotate(45deg);
  }

  .start-adventure {
    display: inline-block;
    padding: 1em 2em;
    margin-top: 1em;
    background-color: var(--accent-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
    position: relative;
  }
  
  .start-adventure:hover {
    background-color: var(--accent-color-light);
  }
  
  .start-adventure::before {
    content: '\1F3C3'; /* Unicode pour l'icône de fusée */
    font-size: 1.5em;
    margin-right: 0.5em;
  }

  
  