---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Question from '../components/Question.astro';

import '../style/global.css';

---

<Layout title="Welcome to Astro.">
	<main>
		<div class="navbar" id="navbar">
			<a href="#home"><img src="./src/img/LogoCCorp2.png" alt="Logo"></a>
			<a href="#home">Accueil</a>
			<a href="#jouer">Jouer</a>
			<a href="#theme" id="mode-switch" onclick="toggleDarkMode();">Dark Mode</a>
			<div href="#langue" id="lang-select">Langue
				<select onchange="changeLanguage();">
					<option value="fr"> Français</option>
					<option value="en">English</option>
				</select>
			</div>
		</div>

        <Question/>
			

		<script in:line>
			function toggleDarkMode() {
        var body = document.body;
        var modeSwitch = document.getElementById("mode-switch");
    
        body.classList.toggle("light-mode");
    
        if (body.classList.contains("light-mode")) {
            modeSwitch.textContent = "Dark Mode";
        } else {
            modeSwitch.textContent = "Light Mode";
        }
    }

    function changeLanguage() {
		console.log("test")
        var langSelect = document.getElementById("lang-select");
        var selectedLang = langSelect.querySelector("select").value;

        console.log("Langue sélectionnée : " + selectedLang);
    }
		</script>
	</main>

	<footer>
		<p>© 2023 CSQUARE. Tous droits réservés.</p>
	</footer>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
	.navbar {
        background-color: #333;
        overflow: hidden;
    }

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }

    .navbar img {
        height: 15px;
        width: auto;
    }

    .navbar #mode-switch {
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        cursor: pointer;
    }

    .navbar #lang-select {
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
	footer {
		margin-top: 2rem;
		text-align: center;
		color: #f2f2f2;
	}
    
</style>


