---
const allQuestion = await Astro.glob("./src/content/fr/questions/*.md");

---

<div class="question">
    {
        allQuestion.map((question) => (
            <div class="QuestionContent">
                <p>{question.frontmatter.content}</p>
            </div>
        ))
    }
   
</div>